version: '3'
services:
  docker-mirror:
    image: registry:2
    expose:
      - "5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://registry-1.docker.io
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
      REGISTRY_PROXY_TIMEOUT: "86400"
    restart: always