services:
  - type: web
    name: docker-mirror
    env: docker
    envVars:
      - key: REGISTRY_PROXY_REMOTEURL
        value: https://registry-1.docker.io
      - key: REGISTRY_STORAGE_DELETE_ENABLED
        value: "true"
      - key: REGISTRY_PROXY_TIMEOUT
        value: "86400"
    plan: free
    autoDeploy: true