# 顶级字段：指定 docker-compose 文件路径
docker_compose_file: docker-compose.yml
services:
  - type: docker
    name: docker-mirror
    # 对应 docker-compose 中的服务名
    serviceName: docker-mirror
    plan: free
    autoDeploy: true